<div class="container search">
    <div class="search-box">
        <div class="banner-area">
            <img src="/images/banner.png" alt="Wood" class="banner">
        </div>
        <div class="search-area">
            <form action="/index" method="post">
              <input type="url" name="url" id="url" placeholder="Website url" autocomplete="off" required autofocus>
              <button type="submit"><box-icon name='plus'></box-icon></button>
            </form>
        </div>
    </div>
</div>